@charset "utf-8";

/* -------------------------
	Layout
------------------------- */
body {
	-webkit-font-smoothing: antialiased;
	background-color: #eee;
}

#all {
	padding: 60px;
}

#main {
	padding: 30px;
	background-color: #fff;
}

.wrap {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none;
	appearance: none;
	cursor: pointer;
}
